# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/BoringTest/BoringTest/Debug/BoringTest.tlog
/BoringTest/BoringTest/Debug
/BoringTest/Debug
*.db
*.opendb
/BoringTest/BoringTest/x64/Debug
/BoringTest/x64/Debug
*.lastbuildstate
*.tlog
*.log
*.pdb
*.iobj
*.ipdb
