# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.opendb

# VS build & user files
*.lastbuildstate
*.tlog
*.log
*.pdb
*.iobj
*.ipdb
*.idb
*.ilk
.vs/

*.Cache

BoringProject2017/BoringProject2017/obj/Debug/
